{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block styles %}
    <title>Anunciante</title>
    <link rel="stylesheet" href="{% static 'styles/anunciante.css' %}">
{% endblock %}

{% block conteudo %}
    <header>
        <img href="{% url 'home' %}" src="{% static 'assets/logo (1).png' %}" alt="MYmóveis - logo">
    </header>

    <main>
        <section>
            <h3>Registrar-se como anunciante</h3>
            <form action="#">
                <div id='pessoa'>
                    <div class='pessoa' id="pessoa1">
                        <label for="fisica" class="sr-only">Pessoa física</label>
                        <input id="fisica" type="checkbox" name="Pessoa fisica">
                        <p>Pessoa física</p>
                    </div>
    
                    <div class='pessoa'>
                        <label for="juridica" class="sr-only">Pessoa jurídica</label>
                        <input id="juridica" type="checkbox" name="Pessoa juridica"> 
                        <p>Pessoa Jurídica</p>
                    </div>
                </div>

                <label for="nome" class="sr-only">Nome completo</label>
                <input id="nome" type="text" name="Nome" placeholder="Nome completo" style="margin-top: 1.6rem;">
    
                <label for="cel" class="sr-only">Celular</label>
                <input id="cel" type="#" name="Celular" placeholder="Celular">
    
                <label for="cpf" class="sr-only">CPF</label>
                <input id="cpf" type="#" name="CPF" placeholder="CPF">
    
                <button type="submit">Registrar-se</button>
            </form>
        </section>
    </main>
{% endblock %}
