<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="assets/MY.svg" type="image/x-icon">
        <!-- fontes -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;700&display=swap" rel="stylesheet">
        <!-- style -->
        <link rel="stylesheet" href="styles/global.css">
        <link rel="stylesheet" href="styles/anuncios.css">
        <title>Anúncios</title>
    </head>
    <body>
        <header>
            <div>
                <img src="assets/menu.svg" alt="menu"/>
                <img id="logo" src="assets/logo.svg" alt="MYmóveis - logo">
            </div>
            <div>
                <button>
                    <img style='align-items: center' src="assets/user.svg"/> Entrar
                </button>
            </div>
        </header>

        <main>
            <form id="filtros">
                <button type="" id="alugar">Alugar</button>
                <button type="input" id="comprar">Comprar</button>

                <select id="imoveis">
                    <option value="Imóveis">Imóveis</option>
                </select>

                <label for="local" class="sr-only">Que região você deseja?</label>
                <input id="local" name="regiao" placeholder="Que região você deseja?">
                
                <select id="mfiltros">
                    <option value="MaisFiltros">Mais filtros</option>
                </select>
            </form>

            <a class="anuncios">
                <div class="img">
                    <img src='assets/cabinet-tv-in-modern-living-room-with-armchair-lamp-table-flower-and-plant-on-concrete-wall-background-3d-rendering.jpg' alt='Imóvel'/>
                </div>

                <div class="dados">
                    <div class='um'>
                        <div class='preco'>
                            <h3>R$ 1000,00</h3>
                            <p class="local">Rua dos bobos, n° 0, bairro Santinho, Ribeirão das Neves</p>
                        </div>

                        <div class='acoes'>
                            <img class='compartilhar' src='assets/Vector.svg' alt='Compartilhar'/>
                            <img class='salvar' src='assets/fi-rr-bookmark 1.svg' alt='Salvar'/>
                        </div>
                    </div>

                    <div class='dois'>
                        <div class='info'>
                            <div class='infoUm'>
                                <img class='vagas' src='assets/fi-rr-school-bus 1.svg' alt='Vagas de carro'/>
                                <p>3</p>
    
                                <img class='lazer' src='assets/Vector (1).svg' alt='Areas de lazer'/>
                                <p>3</p>
    
                                <img class='area' src='assets/fi-rr-layers 1.svg' alt='Area'/>
                                <p>40 m²</p>
                            </div>
    
                            <div class='infoDois'>
                                <img class='andares' src='assets/stairs 1.svg' alt='Andares'/>
                                <p>2</p>
    
                                <img class='verde' src='assets/tree 1.svg' alt='Area verde'/>
                                <p>1</p>
    
                                <img class='sacada' src='assets/sacada 1.svg' alt='Sacada'/>
                                <p>2</p>
                            </div>
                        </div>
    
                        <button>
                            <p>Falar com</p>
                            <img src="assets/fi-rr-portrait 1.svg" alt='Vendedor'/>
                        </button>
                    </div>
                </div>
            </a>

            <a class="anuncios">
                <div class="img">
                    <img src='assets/living-room-interior-have-cabinet-for-tv-and-leather-armchair-in-white-room-3d-rendering.jpg' alt='Imóvel'/>
                </div>

                <div class="dados">
                    <div class='um'>
                        <div class='preco'>
                            <h3>R$ 20000,00</h3>
                            <p class="local">Rua Uberaba, n° 91, bairro Sevilha A, Ribeirão das Neves</p>
                        </div>

                        <div class='acoes'>
                            <img class='compartilhar' src='assets/Vector.svg' alt='Compartilhar'/>
                            <img class='salvar' src='assets/fi-rr-bookmark 1.svg' alt='Salvar'/>
                        </div>
                    </div>

                    <div class='dois'>
                        <div class='info'>
                            <div class='infoUm'>
                                <img class='vagas' src='assets/fi-rr-school-bus 1.svg' alt='Vagas de carro'/>
                                <p>4</p>
    
                                <img class='lazer' src='assets/Vector (1).svg' alt='Areas de lazer'/>
                                <p>1</p>
    
                                <img class='area' src='assets/fi-rr-layers 1.svg' alt='Area'/>
                                <p>1000 m²</p>
                            </div>
    
                            <div class='infoDois'>
                                <img class='andares' src='assets/stairs 1.svg' alt='Andares'/>
                                <p>2</p>
    
                                <img class='verde' src='assets/tree 1.svg' alt='Area verde'/>
                                <p>1</p>
    
                                <img class='sacada' src='assets/sacada 1.svg' alt='Sacada'/>
                                <p>5</p>
                            </div>
                        </div>
    
                        <button>
                            <p>Falar com</p>
                            <img src="assets/fi-rr-portrait 1.svg" alt='Vendedor'/>
                        </button>
                    </div>
                </div>
            </a>

            <a class="anuncios">
                <div class="img">
                    <img src='assets/imovel.svg' alt='Imóvel'/>
                </div>

                <div class="dados">
                    <div class='um'>
                        <div class='preco'>
                            <h3>R$ 500,00</h3>
                            <p class="local">Rua Vera Lúcia, n° 38, bairro São Bernado, Congonhas</p>
                        </div>

                        <div class='acoes'>
                            <img class='compartilhar' src='assets/Vector.svg' alt='Compartilhar'/>
                            <img class='salvar' src='assets/fi-rr-bookmark 1.svg' alt='Salvar'/>
                        </div>
                    </div>

                    <div class='dois'>
                        <div class='info'>
                            <div class='infoUm'>
                                <img class='vagas' src='assets/fi-rr-school-bus 1.svg' alt='Vagas de carro'/>
                                <p>3</p>
    
                                <img class='lazer' src='assets/Vector (1).svg' alt='Areas de lazer'/>
                                <p>3</p>
    
                                <img class='area' src='assets/fi-rr-layers 1.svg' alt='Area'/>
                                <p>40 m²</p>
                            </div>
    
                            <div class='infoDois'>
                                <img class='andares' src='assets/stairs 1.svg' alt='Andares'/>
                                <p>2</p>
    
                                <img class='verde' src='assets/tree 1.svg' alt='Area verde'/>
                                <p>1</p>
    
                                <img class='sacada' src='assets/sacada 1.svg' alt='Sacada'/>
                                <p>2</p>
                            </div>
                        </div>

                        <button>
                            <p>Falar com</p>
                            <img src="assets/fi-rr-portrait 1.svg" alt='Vendedor'/>
                        </button>
                    </div>
                </div>
            </a>
        </main>
    </body>
    <footer>

    </footer>
</html>