body header {
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 8.9rem;
    cursor: pointer;
}

body header img {
    margin: auto;
    display: block;
}

body main {
    justify-content: center;
    display: grid;
    margin-left: auto;
    margin-right: auto;
}

form {
    display: grid;
    justify-items: center;
}

section h3 {
    text-align: center;
    margin-bottom: 2rem;
}

/*section {
    display: block;
    text-align: center;
    justify-items: center;
}*/

#pessoa {
    display: flex;
}

form .pessoa {
    display: flex;
}

form .pessoa input {
    cursor: pointer;
}

form .pessoa p {
    margin-left: 1.2rem;
}

#pessoa1 {
    margin-right: 4.8rem;
}

#nome, #cel, #cpf {
    border: .2rem solid var(--gray-dark);
    border-radius: .8rem;
    padding: 0 1.6rem;
    outline: 0rem none;
    width: 38.8rem;
    height: 5rem;
    left: 38rem;
    top: 18.3rem;
    font-weight: 500;
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
}

form button {
    background-color: var(--orange);
    color: var(--white);
    width: 38.8rem;
    height: 5rem;
    left: 38rem;
    top: 18.3rem;
    border-radius: .8rem;
    text-align: center;
    cursor: pointer; 
}