body {
    margin-right: 14.6rem;
    margin-left: 14.6rem;
    justify-content: center;
    display: grid;
    grid-template-columns: 60% 40%;
    /*separar em colunas*/
    grid-template-rows: 11.4rem 1fr;
    /*separar em colunas vertiacais*/
    /*como não estamos trabalhando com porcentagem, o resto será igual a 1fr = fração -> 100% do espaço que sobrar*/
    grid-template-areas: 'header header' 'left right';
    /*dando nomes as áreas*/
}

header {
    grid-area: header;
    margin-top: 2.4rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#menu {
    cursor: pointer;
}

#logo {
    margin-left: 3.5rem;
}

.list-choice input[type="radio"] {
    position: absolute;
    left: -80px;
}

.list-choice-title {
    width: 100%;
    display: block;
    text-align: left;
    font-weight: bold;
    padding: 0.55em 1em;
    box-sizing: border-box;
    color: #000000;
    border-radius: 0.2em;
}

.list-choice:hover .list-choice-title {
    border-radius: 0.2em 0.2em 0 0;
}

.list-choice-objects label:nth-last-of-type(1) span {
    border-radius: 0 0 0.2em 0.2em;

}

.list-choice input[type="radio"]+span {
    color: var(--black);
    background: var(--white);
    padding: 0.55em 1em;
    display: block;
    text-align: left;
    box-sizing: border-box;
    cursor: pointer;
    
}

.list-choice-objects {
    position: absolute;
    top: 5.5rem;
    padding-top: 2.7em;
    box-sizing: border-box;
    width: 20%;
    overflow: hidden;
    max-height: 0;
    transition: all 250ms ease;

}

.list-choice:hover .list-choice-objects input[type="radio"]+span {
    position: relative;
    top: 0;
    transition: all 250ms ;
}

.list-choice:hover input[type="radio"]+span:hover {
    background: var(--gray-light);
}

.list-choice:hover input[type="radio"]:checked+span:hover {
    background: var(--gray-dark);
}

.list-choice input[type="radio"]:checked+span {
    background: var(--gray-dark);
    position: absolute;
    top: 0em;
    border-radius: 0.2em;
    
}

.list-choice:hover input[type="radio"]:checked+span {
    border-radius: 0;
    position: absolute;
    
}

.list-choice:hover .list-choice-objects label:nth-last-of-type(1) input[type="radio"]:checked+span {
    border-radius: 0 0 0.2em 0.2em;
}

.list-choice:hover .list-choice-objects {
    max-height: 540px;
}

header div a button {
    background-color: var(--orange);
    color: var(--white);
    width: 15.113rem;
    height: 4rem;
    border-radius: .8rem;
    text-align: center;
    cursor: pointer;
    align-items: center;
}

header div button img {
    vertical-align: middle;
}


/*-----------------------------------------------------*/

#bg {
    grid-area: left;
    background: url('#') no-repeat top/contain;
}

body div main {
    grid-area: right;
    width: 40.6rem;
    height: 75.5rem;
}

main div {
    vertical-align: middle;
    align-items: center;
}

main h2 {
    font-size: 2.8rem; 
    font-weight: 700;
}

#local, #tipo {
    margin-top: 3.6rem;
}

#acao button {
    border-radius: .8rem;
    width: 12.4rem;
    height: 5rem;
    background-color: var(--blue);
    color: var(--white);
    margin-top: 2rem;
}

#comprar {
    margin-left: 2rem;
}

#tipo select {
    border: .2rem solid var(--blue);
    border-radius: .8rem;
    padding: 0 1.6rem;
    outline: 0rem none;
    width: 26.8rem;
    height: 5rem;
    left: 38rem;
    top: 18.3rem;
    margin-top: 2rem;
    cursor: pointer;
}

#tipo select option {
    font-weight: 500;
    font-size: 1.6rem;
}

#local input {
    border: .2rem solid var(--blue);
    border-radius: .8rem;
    padding: 0 1.6rem;
    outline: 0rem none;
    width: 26.8rem;
    height: 5rem;
    left: 38rem;
    top: 18.3rem;
    font-weight: 500;
    font-size: 1.6rem;
    margin-top: 2rem;
}

main div button {
    background-color: var(--blue);
    color: var(--white);
    width: 26.8rem;
    height: 5rem;
    left: 38rem;
    top: 18.3rem;
    border-radius: .8rem;
    text-align: center;
    cursor: pointer;
    margin-top: 3.1rem;
}