body {
    display: flex;
    justify-content: center;
}

body div header {
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 8.9rem;
    display: flex;
    cursor: pointer;
}

body div main {
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main section h3 {
    margin-bottom: 1.6rem;
}

form {
    display: grid;
    justify-items: center;
}

form input {
    border: .2rem solid var(--gray-dark);
    border-radius: .8rem;
    padding: 0 1.6rem;
    outline: 0remcommit none;
    width: 38.8rem;
    height: 5rem;
    left: 38rem;
    top: 18.3rem;
    font-weight: 500;
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
}

main form button {
    background-color: var(--orange);
    color: var(--white);
    width: 38.8rem;
    height: 5rem;
    left: 38rem;
    top: 18.3rem;
    border-radius: .8rem;
    text-align: center;
    cursor: pointer; 
}

main div {
    margin-top: 1.6rem;
    display: grid;
    justify-items: center;
}

main div a {
    margin-bottom: 1.2rem;
    cursor: pointer;
}