{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
    <title>MyMoveis</title>
{% endblock %}

{% block conteudo %}
    <header>
        <div>
            <img id="menu" src="{% static 'assets/menu.svg' %}" alt="menu"/>
            <img id="logo" src="{% static 'assets/logo.svg' %}" alt="MYmóveis - logo">
        </div>
        <div>
            <a href="{% url 'login' %}">
                <button>
                    <img style='align-items: center' src="{% static 'assets/user.svg' %}"/> Entrar
                </button>
            </a>    
        </div>
    </header>
        
    <div id="bg">
        <img src="#"/>
    </div>

    <main>
        <div>
            <div id='acao'>
                <h2>O que você deseja?</h2>   
                <button type="">Alugar</button>
                <button type="" id="comprar">Comprar</button>
            </div>

            <div id='tipo'>
                <h2>Que tipo de imóvel?</h2>
                <div>
                    <label for="tipo" class="sr-only">Imóveis</label>
                    <select id="tipo" name="Imóveis"  placeholder="Imóveis">
                        <option value="Imóveis">Imóveis</option>
                        <option value="Quarto">Quarto</option>
                        <option value="Casa">Casa</option>
                    </select>
                </div>
            </div>

            <div id='local'>
                <h2>Qual a localidade?</h2>
                <label for="local" class="sr-only">Que região você deseja?</label>
                <input id="local" name="regiao" placeholder="Que região você deseja?">
            </div>

            <button type='submit'>Buscar</button>
        </div>
    </main>
{% endblock %}